.Slider_section { padding-top: 30px; position: relative; }
.item { padding: 0 10px; }
.slick-arrow { position: absolute;  width: 30px !important; height: 30px !important; text-align: center; text-transform: uppercase; border-radius: 3px; border-radius: 50px; }
.slick-prev { left: -50px; z-index: 999; }
.slick-prev:hover { background:#446cf4 !important; background-position: top 10px left 15px !important; font-weight: 500; }
.slick-next { right: -50px; z-index: 999; }
.slick-next:hover { background:#446cf4 !important; background-position: top 10px left 15px !important; font-weight: 500; }
.slick-prev:before { content: '< ' !important }
.slick-next:before { content: ' >' !important }
.slick-next:before, .slick-prev:before { opacity: 1 !important; font-size: 25px !important; font-family: 'Poppins', sans-serif !important; line-height: 30px !important; letter-spacing: 0.1px; font-weight: 700; }

@media only screen and (min-width: 320px) and (max-width: 467px) {
    .slick-next { right: -5px !important; }
    .slick-prev { left: -5px !important; }
}
