.Details_section .text-section { padding: 10px; max-height: 530px; overflow: auto; background: #f7f7f773; }
.Details_section .text-section ul { list-style: none; margin: 0; }
.Details_section .text-section li { margin: 0 0 10px; border-bottom: solid 1px #a8a0a0; padding: 10px; background: #fff; overflow: hidden; }
.Details_section .text-section li:last-child { margin-bottom: 0; }
.Details_section .text-section h4 { font-size: 18px; color: #4d5156; margin: 0; padding-bottom: 5px; font-weight: 500; }
.Details_section .text-section li span { display: flex; align-items: center; margin-bottom: 10px; min-width: 100px; }
.Details_section .text-section li span img { float: left; }
.Details_section .text-section li img.small-img { width: 200px; }
.Details_section .text-section li span a { font-size: 12px; color: #212121; margin-left: 5px; }
.Details_section .text-section p { font-size: 15px; color: #777; margin: 0; line-height: 25px; }
.Details_section .text-section a { color: #446cf4; font-weight: 500; text-decoration: none; }
.Details_section .text-section li .test { float: left; margin: 0px 15px 0px 0px; }
.Details_section .text-section li .btn-side { text-align: right; margin-top: 5px; }
.Details_section .text-section li .btn-side button { font-size: 12px; color: #fff; background: #446cf4; text-transform: uppercase; padding: 5px 10px; width: fit-content; border: solid 1px #446cf4; border-radius: 4px; margin-left: 7px; text-decoration: none; box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px; }
.Details_section .text-section li .btn-side button:hover { background: #fff; color: #446cf4; border: solid 1px #446cf4; }

.view{
    width: fit-content;
}
