.Search_section { margin-top: 30px; }
.Search_section .container { max-width: 1100px !important; }
.Search_section .Details_side { padding: 20px 20px 20px 30px; background: #f7f7f773; }
/* .Search_section .right-side {-webkit-align-self: flex-start; position: sticky; top: 100px; } */
.Search_section .inner h3 { font-size: 16px; color: #fff; text-transform: capitalize; font-weight: 300; padding: 3px 3px; display: block; background: #446cf4; margin: 0; text-align: center; }
.Search_section .inner ul { list-style: none; margin: 0; }
.Search_section .inner { height: 100%; border-right: 0; }
.Search_section .left-side { padding-right: 0; }
.Search_section .right-side { padding-left: 0; }
.Search_section .inner li { margin: 0 0 0; text-align: left; }
.Search_section .inner li:nth-child(2n+2) a {  background:#f7f7f7 url(../../assets/images/home/right-arrow.png) no-repeat; background-position: top 10px left 10px; }
.Search_section .inner li a { text-decoration: none; display: block; padding: 5px 5px 5px 35px; color: #212121; background:#f7f7f7 url(../../assets/images/home/right-arrow.png) no-repeat; background-position: top 10px left 10px; }
/* .Search_section .inner li a:hover { background:#fff url(../../assets/images/home/right-arrow-hover.png) no-repeat; color: #fff; padding-left: 40px; background-position: top 10px left 15px; font-weight: 500; } */
.Search_section .Details_side .left-side li a:hover { background:#446cf4; color: #fff; background-position: top 10px left 15px; font-weight: 500; }

.Search_section .text-section { padding: 10px; max-height: 530px; overflow: auto; background: #fff; }
.text-section-copy { max-height: 100% !important; }
.Search_section .text-section ul { list-style: none; margin: 0; }
.Search_section .text-section li { margin: 0 0 10px; border-bottom: solid 1px #eee; padding: 10px; background: #f9f9f9; overflow: hidden; }
.Search_section .text-section li:last-child { margin-bottom: 0; }
.Search_section .text-section h4 { font-size: 18px; color: #4d5156; margin: 0; padding-bottom: 5px; font-weight: 500; }
.Search_section .text-section li span { display: flex; align-items: center; margin-bottom: 10px; min-width: 100px; }
.Search_section .text-section li span img { float: left; }
.Search_section .text-section li img.small-img { width: 200px; }
.Search_section .text-section li span a { font-size: 12px; color: #212121; margin-left: 5px; }
.Search_section .text-section p { font-size: 15px; color: #777; margin: 0; line-height: 25px; }
.Search_section .text-section a { color: #446cf4; font-weight: 500; text-decoration: none; }
.Search_section .text-section li .test { float: left; margin: 0px 15px 0px 0px; }
