.inner_content { text-align: center; background: #fff; border: solid 1px #446cf4; border-top: 0; height: 520px; position: relative; }
.inner_content h3 { font-size: 16px; color: #fff; text-transform: capitalize; font-weight: 300; padding: 3px 3px; display: block; background: #446cf4; margin: 0; }
.inner_content ul { list-style: none; margin: 0; padding: 15px 10px 0; max-height: 435px; overflow: auto; }
.inner_content li { margin: 0 0 0; text-align: left; }
.inner_content li:nth-child(2n+2) a {  background:#fff url(../../../../assets/images/home/right-arrow.png) no-repeat; background-position: top 10px left 10px; }
.inner_content li a { text-decoration: none; display: block; padding: 5px 5px 5px 35px; color: #212121; background:#f7f7f7 url(../../../../assets/images/home/right-arrow.png) no-repeat; background-position: top 10px left 10px; }
.inner_content li a:hover { text-decoration: underline; color: #446df4bb; background: url(../../../../assets/images/home/right-arrow.png) no-repeat; background-position: top 10px left 15px; font-weight: 500; }
.inner_content button.view_more { font-size: 12px; background: #446cf4; color: #fff; text-decoration: none; text-transform: uppercase; padding: 5px 10px; display: inline-block; border-radius: 4px; margin: 10px 0; border: solid 1px #446cf4; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }
.inner_content button.view_more:hover { background: #fff; color: #446cf4; border: solid 1px #446cf4; }
.inner_content .center_side { position: absolute; bottom: 0; width: 100%; text-align: center; display: inline-block; left: 0; }
 