.header { box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 10%); padding: 10px 0; position: sticky; top: 0; left: 0; width: 100%; z-index: 99; background: #fff; }
.header .row { align-items: center; }
.header .right { text-align: right;}
.header .right a { font-weight: 500; color: #000; font-size: 15px; text-decoration: none; }
.header .right ul { list-style: none; margin: 0; float: right; }
.header .right li { margin: 0 10px; float: left; }
.header .right li:first-child { margin-left: 0; }
.header .right li:last-child { margin-right: 0; }
.header .right li:last-child a { border-radius: 5px;  font-size: 13px; font-weight: 500; padding: 0.5rem 1rem; color: #fff; text-transform: uppercase; background: #753f6a; box-shadow: rgba(107, 96, 96, 0.15) 0px 3px 3px 0px; text-decoration: none; }

.header form { width: 600px; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%); border-radius: 8px; }
.header select { width: 100px; float: left; height: 40px; margin: 0 !important; border-radius: 5px 0 0 5px; }
.header input { width: 100% !important; height: 40px !important; padding-right: 130px !important; border-left: 0 !important; margin: 0 !important; border-radius: 0 5px 5px 0; }
.header input:focus { box-shadow: none !important; }
.header .search-box { position: relative; overflow: hidden; }
.header .search-box button { position: absolute; top: 4px; right: 4px; border-radius: 0; background: none; padding: 0 10px 2px; line-height: normal; height: 32px; color: #fff; background: #36c991; border-radius: 5px; display: inline-block; text-transform: uppercase; font-weight: 500; }
.header .search-box .close { position: absolute; top: 0; right: 100px; font-size: 18px; color: #ccc; line-height: 38px; padding-right: 10px; }
.header .search-box .close::before { position: absolute; top: 5px; right: 0; content: ''; background: #ddd; height: 80%; width: 1px; }



    @media only screen and (min-width: 320px) and (max-width: 467px) {

        .header .left { padding-bottom: 10px; text-align: center; }
        .header .left a { display: inline-block; }
        .header .left img { margin: 0 auto; }
        .header .right a { font-size: 12px; padding: 7px 8px 8px; }
        .header .right img {margin-bottom: 10px; }
        .header form { width: 100%; }
    
    
    }
