.Details_section { margin-bottom: 20px; }
.Details_section .container { max-width: 1100px !important; }
.Details_section .Details_side { padding: 10px 0 0 10px; background: #f7f7f773; }
.Details_section .right-side { -webkit-align-self: flex-start; position: sticky; top: 100px; }
.Details_section .inner h3 { font-size: 16px; color: #fff; text-transform: capitalize; font-weight: 300; padding: 3px 3px; display: block; background: #446cf4; margin: 0; text-align: center; }
.Details_section .inner ul { list-style: none; margin: 0; }
.Details_section .inner { height: 100%; border-right: 0; padding: 5px; background: #fff; }
.Details_section .left-side { padding-right: 0; }
.Details_section .right-side { padding-left: 0; }
.Details_section .inner li { margin: 0 0 0; text-align: left; }
.Details_section .inner li:nth-child(2n+2) a {  background:#f7f7f7 url(../../assets/images/home/right-arrow.png) no-repeat; background-position: top 10px left 10px; }
.Details_section .inner li a { text-decoration: none; display: block; padding: 5px 5px 5px 35px; color: #212121; background: url(../../assets/images/home/right-arrow.png) no-repeat; background-position: top 10px left 10px; }
.Details_section .inner li a:hover { color: #446df4bb; background: url(../../assets/images/home/right-arrow.png) no-repeat; padding-left: 40px; background-position: top 10px left 15px; font-weight: 500; }
.Details_section .inner li a button:hover { text-decoration: underline; }

.Details_section .inner li a button { background: none; color: inherit; margin: 0; padding: 0;}
.li-active button { text-decoration: underline; color: #446cf4 !important; } 